<tr id="tr{{ row.main_id }}" data-type="html">
    <td id="td{{ x }}{{ row.main_id }}" style="display: none;">{{ row.main_id }}</td>
    <td id="td{{ x + 1 }}{{ row.main_id }}" class="table_number sticky" style="left: 0px; background-color: white;">{{ index }}</td>
    <td id="td{{ x + 2 }}{{ row.main_id }}" class="sticky" style="left: 37px; background-color: rgb(245, 245, 245);">
        <div class="table_border"></div>
    </td>
    <td id="tdDd{{ row.main_id }}" class="sticky" style="left: 337px; text-align: center; background-color: rgb(245, 245, 245);"></td>
    <td id="tdMo{{ row.main_id }}" class="sticky" style="left: 392px; text-align: center; background-color: rgb(245, 245, 245);"></td>
    <td id="td{{ x + 3 }}{{ row.main_id }}" class="sticky" style="left: 447px; text-align: center; background-color: rgb(245, 245, 245);"></td>

    <td id="td{{ x + 4 }}{{ row.main_id }}" class="sticky" style="left: 522px; background-color: rgb(245, 245, 245);"></td>
    <td id="td{{ x + 5 }}{{ row.main_id }}"></td>
    <td id="td{{ x + 6 }}{{ row.main_id }}" style="font-size: 17px;"></td>
    <td style="display: none;"></td>
    <td id="td{{ x + 7 }}{{ row.main_id }}" style="text-align: center;"></td>
    <td id="td{{ x + 8 }}{{ row.main_id }}" style="text-align: center;"></td>
    <td id="td{{ x + 9 }}{{ row.main_id }}" data-lang-show="uk"></td>
    <td id="td{{ x + 10 }}{{ row.main_id }}"></td>
    <td id="td{{ x + 11 }}{{ row.main_id }}"></td>
    <td id="td{{ x + 12 }}{{ row.main_id }}"></td>
    <td id="td{{ x + 13 }}{{ row.main_id }}"></td>
    <td id="td{{ x + 14 }}{{ row.main_id }}"></td>
    <td id="td{{ x + 15 }}{{ row.main_id }}"></td>
    <td id="td{{ x + 16 }}{{ row.main_id }}"></td>
    <td id="td{{ x + 17 }}{{ row.main_id }}"></td>

    <td><input id="td{{ x + 18 }}{{ row.main_id }}" class="input" type="checkbox"></td>
    <td><input id="td{{ x + 19 }}{{ row.main_id }}" class="input" type="checkbox"></td>
    <td><input id="td{{ x + 20 }}{{ row.main_id }}" class="input" type="checkbox"></td>
    <td><input id="td{{ x + 21 }}{{ row.main_id }}" class="input" type="checkbox"></td>

    <td id="td{{ x + 22 }}{{ row.main_id }}" style="font-size: 17px;" data-discipline="powerlifting"></td>
    <td id="td{{ x + 23 }}{{ row.main_id }}" style="font-size: 17px;"></td>
    <td id="td{{ x + 24 }}{{ row.main_id }}" style="font-size: 17px;" data-discipline="powerlifting"></td>
    <td id="td{{ x + 25 }}{{ row.main_id }}" style="font-size: 17px;" data-discipline="powerlifting"></td>
    <td style="display: none;"></td>
    <td id="td{{ x + 26 }}{{ row.main_id }}" style="font-size: 17px;" data-discipline="powerlifting"></td>
    <td id="td{{ x + 27 }}{{ row.main_id }}" style="font-size: 17px;"></td>
    <td id="td{{ x + 28 }}{{ row.main_id }}" style="font-size: 17px;" data-discipline="powerlifting"></td>
    <td id="td{{ x + 29 }}{{ row.main_id }}" style="font-size: 17px;" data-discipline="powerlifting"></td>
    <td style="display: none;"></td>
    <td id="td{{ x + 30 }}{{ row.main_id }}" style="font-size: 17px;" data-discipline="bench_press"></td>
    <td id="td{{ x + 31 }}{{ row.main_id }}" style="font-size: 17px;" data-discipline="powerlifting"></td>
    <td id="td{{ x + 32 }}{{ row.main_id }}" style="font-size: 17px;"></td>
    <td id="td{{ x + 33 }}{{ row.main_id }}" style="font-size: 17px;" data-discipline="powerlifting"></td>
    <td id="td{{ x + 34 }}{{ row.main_id }}" style="font-size: 17px;" data-discipline="powerlifting"></td>
    <td id="td{{ x + 35 }}{{ row.main_id }}" style="font-size: 17px;" data-discipline="powerlifting"></td>
    <td id="td{{ x + 36 }}{{ row.main_id }}" style="font-size: 17px;" data-discipline="powerlifting"></td>
    <td id="td{{ x + 37 }}{{ row.main_id }}" style="font-size: 17px;" data-discipline="powerlifting"></td>
    <td id="td{{ x + 38 }}{{ row.main_id }}" style="font-size: 17px;" data-discipline="bench_press"></td>
    <td id="td{{ x + 39 }}{{ row.main_id }}" style="font-size: 17px;" data-discipline="bench_press"></td>
    <td id="td{{ x + 40 }}{{ row.main_id }}" style="font-size: 17px; text-align: center;" data-discipline="powerlifting"></td>
    <td id="td{{ x + 41 }}{{ row.main_id }}" style="font-size: 17px; text-align: center;" data-discipline="powerlifting"></td>
    <td id="td{{ x + 42 }}{{ row.main_id }}" style="font-size: 17px; text-align: center;" data-discipline="powerlifting"></td>
    <td id="td{{ x + 43 }}{{ row.main_id }}" style="font-size: 17px; text-align: center;" data-discipline="bench_press"></td>
    <td id="td{{ x + 44 }}{{ row.main_id }}" style="font-size: 17px; text-align: center;" data-discipline="bench_press"></td>
    <td id="td{{ x + 45 }}{{ row.main_id }}" style="font-size: 17px; text-align: center;" data-discipline="bench_press"></td>
</tr>