{% extends 'base.html.twig' %}

{% block title %}order{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/order.css') }}">
{% endblock %}

{% block body %}
    <script>
        window.appData = {{ {
            lang: lang,
            num: users_id,
            num_st: id_status,
            status: status
        }|json_encode|raw }};
    </script>

    <header class="table_header">
        <table class="table_head">
            <tr>
                <td class="table_head_td">
                    {% include 'clients/components/button_redirection.html.twig' %}
                </td>
                <td style="text-align: center; width: 98%;">
{#
                    <?php
                        if ($competition !== ''){
                            require_once 'components/scoreboard_header.php';
                        }
                    ?>

                    {% if competition is not empty %}
                        {% include 'components/scoreboard_header.html.twig' %}
                    {% endif %}
#}
                </td>
            </tr>
        </table> 
    </header>
    <main>
        <table class="table_header_title">
            <thead>
                <tr>
                    <td class="table_header_title number">#</td>
                    <td class="table_header_title name">NAME</td>
                    <td class="table_header_title width_10">CLASS</td>
                    <td class="table_header_title width_10">BWT</td>
                    <td class="table_header_title width_10">WEIGHT</td>
                    <td class="table_header_title width_10">LOT</td>
                </tr>
            </thead>
            <tbody>
{#
                <?php
                    if (isset($numOfTableRows) && $numOfTableRows > 0){
                        $n=1; // -- # --
                        for ($c=0; $c < $numOfTableRows; $c++){
                            $color = '';
                            if (isset($value[$c][$lift_2])){
                                if ($this -> attempt == 1){
                                    $color = ' color';
                                }
                            } elseif (isset($value[$c][$lift_3])){
                                if ($this -> attempt == 2){
                                    $color = ' color';
                                }                                
                            }

                            echo '<tr class="table'.$color.'">';
                                echo '<td class="table'.$color.'">'.$n.'</td>';
                                echo '<td class="table'.$color.'" style="text-align: left; padding-left: 7px;">'.$value[$c]["surname_name"].'</td>';
                                echo '<td class="table'.$color.'">'.$value[$c]["category"].'</td>';
                                echo '<td class="table'.$color.'">'.$value[$c]["bodyweight"].'</td>';

                            if (isset($value[$c][$lift_1])){
                                echo '<td class="table blue'.$color.'">'.$value[$c][$lift_1].'</td>';
                            } elseif (isset($value[$c][$lift_2])){
                                echo '<td class="table blue'.$color.'">'.$value[$c][$lift_2].'</td>';
                            } elseif (isset($value[$c][$lift_3])){
                                echo '<td class="table blue'.$color.'">'.$value[$c][$lift_3].'</td>';
                            }

                                echo '<td class="table'.$color.'">'.$value[$c]["lot"].'</td>';
                            echo '</tr>';
                            ++$n;
                        }
                    }
                ?>

                {% if values is defined and values|length > 0 %}
                {% set n = 1 %}
                {% for row in values %}
                {% set color = '' %}
                {% if row[lift_2] is defined and attempt == 1 %}
                    {% set color = ' color' %}
                {% elseif row[lift_3] is defined and attempt == 2 %}
                    {% set color = ' color' %}
                {% endif %}

                <tr class="table{{ color }}">
                    <td class="table{{ color }}">{{ n }}</td>
                    <td class="table{{ color }}" style="text-align:left; padding-left:7px;">
                        {{ row.surname_name }}
                    </td>
                    <td class="table{{ color }}">{{ row.category }}</td>
                    <td class="table{{ color }}">{{ row.bodyweight }}</td>

                    {% if row[lift_1] is defined %}
                        <td class="table blue{{ color }}">{{ row[lift_1] }}</td>
                    {% elseif row[lift_2] is defined %}
                        <td class="table blue{{ color }}">{{ row[lift_2] }}</td>
                    {% elseif row[lift_3] is defined %}
                        <td class="table blue{{ color }}">{{ row[lift_3] }}</td>
                    {% endif %}

                    <td class="table{{ color }}">{{ row.lot }}</td>
                </tr>

                {% set n = n + 1 %}
                {% endfor %}
            {% endif %}
#}
            </tbody>
        </table>
    </main>
{#
    {% include 'templates_admin/postForm.twig' %}

    <?php
        require_once 'templates_admin/postForm.php';

        echo '<script>const lang = "'.Config::$lang.'";';
        echo ' const id_status = '.Config::$id_status.'</script>';
    ?>
#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('assets/js/buttonReturn.js') }}"></script>
{#
    <script src="assets/switchLanguage.js"></script>
    <script src="assets/clients_js/order.js"></script>
    <script src="assets/checkSessionStatus.js"></script>
        <script>
        document.addEventListener('DOMContentLoaded', () => {
            switchLanguage(lang);
            checkSessionStatus();
            setInterval(checkSessionStatus, 20 * 60 * 1000);
            let lastCheck = Date.now();
            setInterval(() => {
                const now = Date.now();
                if (now - lastCheck > 120 * 1000){
                    console.log('waking up');
                    checkSessionStatus();
                }
                lastCheck = now;
            }, 10000);
        });
    </script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="assets/socket_client.js"></script>
</body>
</html>

#}
{% endblock %}