<div class="red25 {{ plateStyle }}" {{ redPlate|raw }}></div>
<div class="blue20 {{ plateStyle }}" {{ float|raw }}></div>
<div class="yellow15 {{ plateStyle }}" {{ float|raw }}></div>
<div class="green10 {{ plateStyle }}" {{ float|raw }}></div>
<div class="red5kg {{ plateStyle }}" {{ float|raw }}></div>
<div class="yellow25kg {{ plateStyle }}" {{ float|raw }}></div>
<div class="green125kg {{ plateStyle }}" {{ float|raw }}></div>

<div {{ float|raw }}>
    <div class="grip" {{ float|raw }}></div>
    <div class="cylinder" {{ float|raw }}></div>
    <div class="rabbet" {{ float|raw }}></div>
    <div class="cylinder_2" {{ float|raw }}></div>
    <div class="end" {{ float|raw }}>
        <div class="cutout-top" {{ float|raw }}></div>
        <div class="latch" {{ latchStyle|raw }}></div>
        <div class="cutout-bottom" {{ float|raw }}></div>
    </div>
</div>

        <div class="bars_box" style="flex-direction: row-reverse;">
            {% include 'components/platesImage.html.twig' with {
                plateStyle: 'platestyle2',
                redPlate: 'style="float: right; margin-right: 15px;"',
                float: 'style="float: right;"',
                latchStyle: 'style="float: right; left: 0px;"'
            } %}
        </div>

                <div class="bars_box">
            {% include 'components/platesImage.html.twig' with {
                plateStyle: 'platestyle',
                redPlate: 'style="margin-left: 15px;"',
                float: '',
                latchStyle: ''
            } %}
        </div>