{% extends 'base.html.twig' %}

{% block title %}redirection page{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/redirection.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="top">
            <div class="admin">
                <button class="button_comp_status" type="button" data-en="ADMIN" data-uk="АДМІН" data-pl="ADMIN"></button>
            </div>
            <div class="weighingIn">
                <button class="button_comp_status" type="button" data-en="WEIGHING IN" data-uk="ЗВАЖУВАННЯ" data-pl="WAŻENIE"></button>
            </div>
        </div>
        <div class="middle">
            <div class="scoreboard">
                <button class="button_comp_status" type="button" data-en="SCOREBOARD" data-uk="ПРОТОКОЛ ЗМАГАНЬ" data-pl="PROTOKÓŁ ZAWODÓW"></button>
            </div>
            <div class="order">
                <button class="button_comp_status" type="button" data-en="LIFTING ORDER" data-uk="ПОРЯДОК ВИХОДУ" data-pl="KOLEJNOŚĆ PODEJŚĆ"></button>
            </div>
            <div class="bars">
                <button class="button_comp_status" type="button" data-en="DISCS SEQUENCE" data-uk="ПОРЯДОК ДИСКІВ" data-pl="KOLEJNOŚĆ TALERZY"></button>
            </div>
            <div class="information">
                <button class="button_comp_status" type="button" data-en="INFORMATION" data-uk="ІНФОРМАЦІЯ" data-pl="INFORMACJA"></button>
            </div>
            <div class="timer">
                <button class="button_comp_status" type="button" data-en="TIMER" data-uk="ТАЙМЕР" data-pl="TIMER"></button>
            </div>
        </div>
        <div class="logout">
            <button class="button_comp_status" type="button" data-en="LOG OUT" data-uk="ВИЙТИ" data-pl="WYLOGUJ SIĘ"></button>
        </div>
    </div>
    <dialog id="loginDialog">
        <div class="popup-content">
            <span id="close">&times;</span>

            {% include 'components/loginForm.html.twig' %}

            <button id="comp_status" style="display: none;" type="button"></button>
            <button id="cancel" type="button" data-en="CANCEL" data-uk="ВІДМІНА" data-pl="ANULUJ">CANCEL</button>
        </div>
    </dialog>

    {% include 'components/dialog_connections.html.twig' %}

{% endblock %}
<script>
    window.appData = {
        lang = "{{ lang }}";
        num = "{{ users_id }}";
    }
</script>
{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('assets/js/redirection/asyncJson/checkConnectionsData.js') }}"></script>
    <script src="{{ asset('assets/js/redirection/asyncJson/checkAdmin.js') }}"></script>
    <script type="module" src="{{ asset('assets/js/redirection/asyncJson/deleteOldConnections.js') }}"></script>
    <script src="{{ asset('assets/js/redirection/checkConnectionsButtons.js') }}"></script>

    <script type="module" src="{{ asset('assets/js/redirection/listenersActions.js') }}"></script>
    <script src="{{ asset('assets/js/redirection/eventsListeners.js') }}"></script>
    <script src="{{ asset('assets/js/redirection/loginSecond.js') }}"></script>

    <script src="{{ asset('assets/js/redirection/initRedirectionPage.js') }}"></script>
{% endblock %}